@media screen and (min-width: 1280px) {
    body.bg-summer {
        background: url(../img/autumn.jpg) no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 720px) and (max-width: 1280px) {
    body.bg-summer {
        background: url(../img/summer.jpg) no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 720px) {
    body.bg-summer {
        background: url(../img/spring.jpg) no-repeat;
        background-size: cover;
    }
}
