<form class="grid margin100 margin80-left"
      ng-submit="submitQuery(queryString)">
    <div class="row no-margin">
        <h1 class="leader text-bold fg-grayDark">Explore</h1>
    </div>
    <div class="row">
        <div class="input-control text cell" data-role="input">
            <input type="text" ng-model="queryString">
            <button class="button bg-grayDark fg-grayLighter"
                    ng-click="">
                <span class="mif-search"></span>
            </button>
        </div>
    </div>
</form>